[submodule "webbens-historia"]
	path = webbens-historia
	url = https://github.com/renestam/webbens-historia
[submodule "memory-game"]
	path = memory-game
	url = https://github.com/renestam/memory-game
[submodule "framtidsstaden"]
	path = framtidsstaden
	url = https://github.com/renestam/framtidsstaden
[submodule "lagar-och-sakerhet"]
	path = lagar-och-sakerhet
	url = https://github.com/renestam/lagar-och-sakerhet
[submodule "alexander"]
	path = alexander
	url = https://github.com/AleBjo/Webbutveckling
